.form {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.submitButton {
    padding: 10px 20px;
    background-color: #FF69B4; 
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    align-self: flex-end; 
}

.submitButton:hover {
    background-color: #FF1493;
}

