.accountBox {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.accountCard {
    width: 350px;
    background-color: #efefef;
    border: none;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s;
    height: 100px;
    width: 100px;
}

.accountCard:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-top: 8px; 
}

.email {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;  
}

.buttonsBox > * {
    margin-right: 8px;
    margin-bottom: 4px;
}

.buttonsBox > *:last-child {
    margin-right: 0;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 15px;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: start;
    width: 100%;
    margin: 0 auto;
}

.text h3 {
    grid-column: 1 / -1;
    margin-bottom: 5px;
}
