.imageContainer {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
}
  
.imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}
    
  