.navBar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FFF7E5;
}

.links {
    margin-left: auto;
}
  
h1 {
    color: #f1356d;
}
    
a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-weight: bold;
}
  
a:hover {
    color: #f1356d;
}
  
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
